.pn-popup {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(64, 64, 75, 0.6);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  transition: opacity 0.3s 0s, visibility 0s 0.3s;
}

.pn-popup.is-visible {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
  transition: opacity 0.3s 0s, visibility 0s 0s;
  z-index: 999;
}

.pn-popup-container {
  position: relative;
  width: 90%;
  max-width: 450px;
  margin: 15em auto;
  background: #FFF;
  border-radius: 3px;
  text-align: center;
  padding: 40px 40px;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.10);
  -webkit-transform: translateY(-40px);
  -moz-transform: translateY(-40px);
  -ms-transform: translateY(-40px);
  -o-transform: translateY(-40px);
  transform: translateY(-40px);
  /* Force Hardware Acceleration in WebKit */
  -webkit-backface-visibility: hidden;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.pn-popup-container p {
  color: rgba(0,0,0,0.87);
  font-family: AvenirNext-Regular;
  font-size: 18px;
  margin: 0px 0px 20px 0px;
}

.pn-popup-container .pn-buttons button {
  width: 84px;
  height: 46px;
  font-family: AvenirNext-Medium;
  font-size: 12px;
  border: 0;
  border-radius: 0 0 5px 5px;
  color: #fff;
  margin: 2px 5px;
  letter-spacing: 0.5px;
}

.pn-popup-container .pn-buttons button:first-child  {
  background: #EB5424 ;
  border-radius: 3px;
  margin-right: 15px;
  color: #FFFFFF ;
}

.pn-popup-container .pn-buttons button:first-child:hover {
  background-color: #e14615;
}

.pn-popup-container .pn-buttons button:last-child:hover {
  background-color: #f5f7f9;
}

.pn-popup-container .pn-buttons button:last-child {
  background: #FFFFFF ;
  border: 1px solid #CCCCCC ;
  border-radius: 3px;
  color: #000000 ;
}

.pn-popup-container .pn-popup-close {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  color: rgba(74,73,74,0.60); ;
  background-color: #E3E5E7;
  line-height: 20px;
}

.pn-popup-container .pn-popup-close:after, .pn-popup-container .pn-popup-close:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.is-visible .pn-popup-container {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}

@media only screen and (min-width: 1170px) {
  .pn-popup-container {
    margin: 15em auto;
  }
}
