<amp-sidebar id="sidebar"
  layout="nodisplay"
  side="right">
  <div class="header">
    <div class="amp-close-image" role="button" on="tap:sidebar.close"
    tabindex="0">
      <svg viewBox="644 60 50 46" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <!-- Generator: Sketch 42 (36781) - http://www.bohemiancoding.com/sketch -->
          <desc>Created with Sketch.</desc>
          <defs></defs>
          <g id="Group" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(646.000000, 62.000000)" stroke-linecap="square">
              <path d="M44.5,0.5 L0,41" id="Line" stroke="#000000" stroke-width="2"></path>
              <path d="M0,0 L46,42" id="Line" stroke="#000000" stroke-width="2"></path>
          </g>
      </svg>
    </div>
  </div>
  <hr>
  <div class="sidebar-list">
    <h2>Products</h2>
    <ul>
      <li>
        <a href="https://auth0.com/how-it-works">
          <amp-fit-text width="220"
            height="20"
            layout="responsive"
            max-font-size="24">
            Platform
          </amp-fit-text>
        </a>
      </li>
      <li>
        <a href="https://auth0.com/enterprise">
          <amp-fit-text width="220"
            height="20"
            layout="responsive"
            max-font-size="24">
            Enterprise
          </amp-fit-text>
        </a>
      <li>
        <a href="https://auth0.com/lock">
          <amp-fit-text width="220"
            height="20"
            layout="responsive"
            max-font-size="24">
            Lock
          </amp-fit-text>
        </a>
      </li>
      <li>
        <a href="https://auth0.com/passwordless">
          <amp-fit-text width="220"
            height="20"
            layout="responsive"
            max-font-size="24">
            Passwordless
          </amp-fit-text>
        </a>
      </li>
      <li>
        <a href="https://auth0.com/breached-passwords">
          <amp-fit-text width="220"
            height="20"
            layout="responsive"
            max-font-size="24">
          Breached Passwords
          </amp-fit-text>
        </a>
      </li>
      <li>
        <a href="https://auth0.com/wordpress">
          <amp-fit-text width="220"
            height="20"
            layout="responsive"
            max-font-size="24">
          Wordpress
          </amp-fit-text>
        </a>
      </li>
      <li>
        <a href="https://auth0.com/multifactor-authentication">
          <amp-fit-text width="220"
            height="20"
            layout="responsive"
            max-font-size="24">
          Multifactor Authentication
          </amp-fit-text>
        </a>
      </li>
      <li>
        <a href="https://webtask.io/">
          <amp-fit-text width="220"
            height="20"
            layout="responsive"
            max-font-size="24">
            Webtask
          </amp-fit-text>
        </a>
      </li>
    </ul>
  </div>
    <a href="https://manage.auth0.com/login">
      <div class="footer">
        <amp-fit-text width="220"
          height="20"
          layout="responsive"
          max-font-size="24">
          SIGN UP
        </amp-fit-text>
      </div>
    </a>

</amp-sidebar>
