<footer class="site-footer-extend">
  <div class="footer-nav">
    <div class="container">
      <ul class="nav">
        <li><a href="/extend/pricing">Pricing</a></li>
        <li><a href="https://github.com/auth0/extend/wiki/Auth0-Extend-User%27s-Guide" target="_blank">Documentation</a></li>
        <li><a href="#" onclick="showContactForm(&quot;extend_footer_sales&quot;);" rel="external">Talk to Sales</a></li>
      </ul>
      <div class="powered"><a href="https://www.auth0.com">A Product by<img src="https://cdn.auth0.com/website/auth0-extend/icons/icon-powered-auth0-white.svg" alt="Auth0"></a></div>
    </div>
  </div>
  <div class="footer-information">
    <div class="container">
      <ul class="nav">
        <li><a href="https://auth0.com/privacy" target="_blank">Privacy Policy</a></li>
        <li><a href="https://auth0.com/terms" target="_blank">Terms of Service</a></li>
      </ul>
      <div class="copyright">© 2013-2017 Auth0 Inc. All Rights Reserved.</div>
    </div>
  </div>
</footer>