{% if page.alternate_locale_en %}
<link rel="alternate" href="https://auth0.com{{ site.baseurl }}/{{page.alternate_locale_en}}" hreflang="en" />
{% endif %}
{% if page.alternate_locale_es %}
<link rel="alternate" href="https://auth0.com{{ site.baseurl }}/{{page.alternate_locale_es}}" hreflang="es" />
{% endif %}
{% if page.alternate_locale_de %}
<link rel="alternate" href="https://auth0.com{{ site.baseurl }}/{{page.alternate_locale_de}}" hreflang="de" />
{% endif %}
{% if page.alternate_locale_jp %}
<link rel="alternate" href="https://auth0.com{{ site.baseurl }}/{{page.alternate_locale_jp}}" hreflang="jp" />
{% endif %}
