footer.site-footer
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 12px;
  padding: 20px 0;
  color: #999;
  nav 
    text-align: right
    float: right
    li 
      display: inline-block
      margin-left: 30px;
  a 
    color: #999;

  .col-md-11
    float: right

@media screen and (max-width: 768px)
  footer.site-footer
    .col-md-11
      float: none;
    nav 
      float: none;
      display: block
      clear:both;
      text-align: left;
      margin: 0;
      padding: 0;
      margin-bottom: 14px;
      ul 
        margin: 0;
        border-bottom: 1px solid #f1f1f1;

        padding: 0;
      li
        display: block
        margin: 0;
      a 
        display: block
        border-top: 1px solid #f1f1f1;
        margin: 0;
        padding: 14px 0;

