.navbar{
  .navbar-logo{
    display: inline-block;
    width: 100px;
    padding: 23.5px 0 12.5px 31.5px;
  }

  .ampstart-navbar-trigger{
    display: inline-block;
    float: right;
    padding: 23.5px 28px 12.5px 0;
    width: 30px;
  }
}
amp-sidebar {
  width: 100%;
  background-color: #fff;
  .header{
    min-height: 11.7%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 33px;
    border-bottom: 1px solid rgb(151,151,151);
    .amp-close-image{
      width: 23px;
      height: 21px;
    }
  }

  .sidebar-list{
    min-height: 78.3%;
    overflow: scroll;
    h2 {
      font-weight: 500;
      color: #4A4A4A;
      border-bottom: 2px solid #4A4A4A;
      width: autho;
      display: inline-block;
      font-size: 28.5px;
      letter-spacing: 1.2px;
      padding-bottom: 12px;
      margin: 39px 10px 30px 47px;
    }
    ul{
      list-style: none;
      padding: 0px;
      margin: 0px;
      li{
        margin: 0 23.5px 20px 47px;
        a{
          color: #4A4A4A;
          font-size: 18px;
        }
      }
    }
  }

  .sidebar-footer{
    min-height: 9.8%;
    background: rgb(235,84,36);
    color: #fff;
    width: 100%;
    margin: 0px;
    font-size: 20px;
    letter-spacing: 0.85px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

amp-sidebar.i-amphtml-element {
  display: flex;
  flex-direction: column;
}
