---
layout: amp
meta-robots: "noodp, noydir, noindex, noarchive, follow"
is_post_index: true
sitemap:
  exclude: 'yes'
---

{% assign post = page.post %}

<article id='header-post' itemprop="mainEntity" itemscope itemtype="http://schema.org/BlogPosting">
    {% include amp/banner_post.html %}
  <div id="container" class="container">
    <div class="sticky-container">
      <div class="content-column">
        <main class="blog-post blog-single">
          <div class="inner">
            <div class="entry-content js-entry-content" itemprop="articleBody">
              {{ post.content  | markdownify | amp_images }}
            </div>
          </div>
        </main>
      </div>
    </div>
  </div>
</article>

<a class="pointer-header" href="#header-post"><i></i></a>
